<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>{{#if task}}Edit{{else}}New{{/if}} Task</h2>
        <form action="/tasks/save" method="POST">        
            <input type="hidden" class="form-control" id="id" name="id" value="{{task.id}}">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{task.title}}">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" name="description">{{task.description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>