<div class="container">
    <ul class="content">
        <li>
            <h3>{{book.title}}</h3>
            <p>ISBN: {{book.id}} - PAGES: {{book.pageqty}}</p>
            <p>DESCRIPTION: {{book.description}}</p>
        </li>
    </ul>
</div>