<div class="container">
    <h2>Find your book:</h2>

    <form action="book/:id"  method="GET">
        <label for="id">ID</label>
        <input type="text" name="id" placeholder="Book's ID" />
        <input type="submit" value="FIND" />
    </form>
</div>